
img {
    max-width: 50vw;
    max-height: 25vw;
    display: block;
    margin: auto;
}

    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      font-family: Arial, sans-serif;
    }

    .container {
      display: flex;
      border: 1px solid #ccc;
      padding: 20px;
    }

    .form-container {
      flex: 1;
      margin-right: 20px;
    }
    /* .cardContainer {
      flex: 1;
      overflow-y: scroll;
      max-height: 400px;

    } */

    cardContainer{
        flex: 1;
        overflow-y: auto;
        height: 200px;
    } 

    .card {
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 10px;
    }


    form.form-example {
        display: table;
    }
    
    div.form-example {
        display: table-row;
    }
    
    label,
    input {
        display: table-cell;
        margin-bottom: 10px;
    }
    
    label {
        padding-right: 10px;
    }